Repository floatme-corp/golflog, pull requests merged in 2022-08, with the labels that each got.

#65 chore(github): add codeball
  .github/workflows/codeball.yaml
Labels: ignore-for-release, codeball:approved

#66 chore(github): update codeball settings
  .github/workflows/codeball.yaml
Labels: ignore-for-release, codeball:approved

#67 fix(github): fix codeball permissions
  .github/workflows/codeball.yaml
Labels: fix, codeball:approved

#56 chore(main): release 1.5.3
  CHANGELOG.md
Labels: autorelease: pending, ignore-for-release, codeball:approved
